*{
    text-align: center;
    margin: 10px 0px 10px 0px;
}
table{
    width: 80%;
    margin: 50px;
    text-align: center;
}
.addButton{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
}
.avatar{
    height: 40px;
}
.jFsXRn{
    display: none;
}